aiohttp
jinja2
# Pinning to <4.0 due to compatibility with the 3.1 controller version
juju<4.0
minio
mlflow==2.22.0
pytest-operator
requests
lightkube
lightkube-models>=1.25.4.4
# "charmed-kubeflow-chisme" pinned to avoid closed "latest" tracks with COS charms, see:
# https://github.com/canonical/charmed-kubeflow-chisme/issues/155
charmed-kubeflow-chisme>=0.4.11
