codespell
flake8<6
flake8-builtins
# Pinned because `flake8-copyright==0.2.3` is incompatible with `flake8>=6`.  Can unpin this
# when https://github.com/savoirfairelinux/flake8-copyright/pull/20 or a similar fix is released
flake8-copyright
pep8-naming
pyproject-flake8
-r requirements-fmt.txt
