boto3
ops
oci-image==1.0.0
    # via -r ./requirements.in
ops==1.5.4
    # via
    #   -r ./requirements.in
    #   ops-lib-mysql
    #   serialized-data-interface
ops-lib-mysql==1.0
    # via -r ./requirements.in
pyrsistent==0.19.2
    # via jsonschema
python-dateutil==2.8.2
    # via botocore
pyyaml==5.4
    # via
    #   ops
    #   serialized-data-interface
requests==2.25.0
    # via serialized-data-interface
s3transfer==0.6.0
    # via boto3
serialized-data-interface==0.4.0
    # via -r ./requirements.in
six==1.16.0
    # via
    #   jsonschema
    #   python-dateutil
urllib3==1.26.13
    # via
    #   botocore
    #   requests

# The following packages are considered to be unsafe in a requirements file:
# setuptools
