apiVersion: kubeflow.org/v1alpha1
kind: PodDefault
metadata:
  name: {{ app_name }}-minio
spec:
  desc: Allow access to MLFlow
  env:
  - name: MLFLOW_S3_ENDPOINT_URL
    value: {{ s3_endpoint }}
  - name: MLFLOW_TRACKING_URI
    value: {{ mlflow_endpoint }}
  selector:
    matchLabels:
      mlflow-server-minio: "true"
