{%- if not is_proxy_mode_enabled %}
apiVersion: v1
kind: Secret
metadata:
  name: {{ app_name }}-minio-artifact
stringData:
  AWS_ACCESS_KEY_ID: {{ access_key }}
  AWS_SECRET_ACCESS_KEY: {{ secret_access_key }}
{%- if s3_ca_bundle_b64 %}
data:
  ca-bundle.pem: {{ s3_ca_bundle_b64 }}
{%- endif %}
{%- endif %}
