# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      charmcraft-credentials:
        required: true

jobs:

  lib-check:
    name: Check libraries
    runs-on: ubuntu-latest
    strategy:
      matrix:
        charm:
        - mlflow-server
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Check libs
      uses: canonical/charming-actions/check-libraries@2.1.1
      with:
        charm-path: ./charms/${{ matrix.charm }}
        credentials: "${{ secrets.charmcraft-credentials }}"
        github-token: "${{ secrets.GITHUB_TOKEN }}"

  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        charm:
        - server
    steps:
    - uses: actions/checkout@v2
    - run: python3 -m pip install tox
    - run: tox -e ${{ matrix.charm }}-lint

  unit:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        charm:
        - server
    steps:
    - uses: actions/checkout@v2
    - run: python3 -m pip install tox
    - run: tox -e ${{ matrix.charm }}-unit

  integration:
    name: Integration tests (microk8s)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        charm:
        - server
    steps:
    - uses: actions/checkout@v2
    - name: Setup operator environment
      uses: claudiubelu/actions-operator@18ebf92ae3043bd3dd15238e5d9b662d7ba08daf
      with:
        provider: microk8s
        channel: 1.22/stable
        # Pinned until this bug is resolved: https://bugs.launchpad.net/juju/+bug/1992833
        bootstrap-options: "--agent-version=2.9.34"
        microk8s-addons: "dns storage rbac metallb:10.64.140.43-10.64.140.49"
    - name: Install firefox-geckodriver
      run: sudo apt install -y firefox-geckodriver

    - run: |
        sg microk8s -c "tox -e ${{ matrix.charm }}-integration"

      # Collect debug logs if failed
    - name: Dump Juju/k8s logs on failure
      uses: canonical/charm-logdump-action@main
      if: failure()
      with:
        app: ${{ matrix.charm }}
        model: testing

    - name: Upload HAR logs
      uses: actions/upload-artifact@v2
      with:
        name: selenium-har
        path: /tmp/selenium-*.har
      if: failure()
