# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true

jobs:
  lib-check:
    name: Check libraries
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@2.3.0
        with:
          credentials: "${{ secrets.CHARMCRAFT_CREDENTIALS }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"

  lint:
    name: Lint Check
    runs-on: ubuntu-24.04

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: pipx install tox

    - name: Lint code
      run: tox -e lint

  unit:
    name: Unit Test
    runs-on: ubuntu-24.04

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: pipx install tox

    - name: Run unit tests
      run: tox -e unit

  terraform-checks:
    name: Terraform
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/terraform-checks.yaml@main
    with:
      charm-path: .
      # Skipping the Terraform apply check as the mlflow-server goes to Waiting status
      # instead of the expected Blocked or Active. This is currently a limitation of the
      # Terraform re-usable workflows in canonical/charmed-kubeflow-workflows
      # See https://github.com/canonical/charmed-kubeflow-workflows/issues/65
      apply: false

  integration:
    strategy:
      fail-fast: false
      matrix:
        test-type: [integration, integration-ambient]
    name: Integration tests (${{ matrix.test-type }})
    runs-on: ubuntu-24.04
    steps:
    - name: Maximise GH runner space
      uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be

    - uses: actions/checkout@v4
    - name: Install dependencies
      run: pipx install tox

    - name: Setup environment
      run: |
        sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
        sudo rm -rf /run/containerd
        sudo snap install concierge --classic
        sudo concierge prepare --trace

    - name: Run integration tests
      run: tox -vve ${{ matrix.test-type }} -- --model testing

    - name: Collect charm debug artifacts
      uses: canonical/kubeflow-ci/actions/dump-charm-debug-artifacts@main
      if: failure()

    # On failure, capture debugging resources      
    - name: Get all
      run: kubectl get all -A
      if: failure()

    - name: Get juju status
      run: juju status
      if: failure()

    - name: Get workload logs
      run: |
        kubectl logs --tail 100 -ntesting -lapp.kubernetes.io/name=mlflow-server -c mlflow-server
        kubectl logs --tail 100 -ntesting -lapp.kubernetes.io/name=mlflow-server -c mlflow-prometheus-exporter
      if: failure()

    - name: Get operator logs
      run: kubectl logs --tail 100 -ntesting -lapp.kubernetes.io/name=mlflow-server -c charm
      if: failure()
