name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        charm:
          - mlflow-server
    steps:
      - uses: actions/checkout@v2
      - run: python3 -m pip install tox
      - run: tox -e ${{ matrix.charm }}-lint

  unit:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        charm:
          - mlflow-server
    steps:
      - uses: actions/checkout@v2
      - run: python3 -m pip install tox
      - run: tox -e ${{ matrix.charm }}-unit

  integration:
    name: Integration tests (microk8s)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        charm:
          - mlflow-server
    steps:
      - uses: actions/checkout@v2
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          channel: 1.21/stable
          charmcraft-channel: latest/candidate
      - run: sg microk8s -c 'microk8s enable metallb:10.64.140.43-10.64.140.49'
      - run: sudo apt install -y firefox-geckodriver

      - run: |
          sg microk8s -c "tox -e ${{ matrix.charm }}-integration"

      # Collect debug logs if failed
      - name: Dump Juju/k8s logs on failure
        uses: canonical/charm-logdump-action@main
        if: failure()
        with:
          app: ${{ matrix.charm }}
          model: testing
