name: Test and publish to branch

# On pull_request, we:
# * always publish to charmhub at latest/edge/branchname
# * always run tests

on:
  pull_request:

jobs:

  tests:
    name: Run Tests
    uses: ./.github/workflows/integration.yaml
    secrets:
      charmcraft-credentials: "${{ secrets.CHARMCRAFT_CREDENTIALS }}"

  # publish runs in parallel with tests, as we always publish in this situation
  publish-charm:
    name: Publish Charm
    uses: ./.github/workflows/publish.yaml
    secrets:
      charmcraft-credentials: "${{ secrets.CHARMCRAFT_CREDENTIALS }}"
